<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
</head>
<body>
<h1>Logowanie</h1>
<br>
<main role="main" layout:fragment="container" class="container">
    <form name="f" th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"/>
        <br>
        <br>
        <label for="hashPassword">Hasło:</label>
        <input type="password" id="hashPassword" name="hashPassword"/>
        <br>
        <br>
        <div class="form-actions">
            <button type="submit" class="btn">Zaloguj</button>
        </div>
    </form>
</main>
</body>
</html>