<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie pojazdu</title>
</head>
<body>
<h1>Dodaj pojazd.</h1>
<main role="main" layout:fragment="container" class="container">
    <form action="/set" method="post" th:action="@{/vehicle/save}" th:object="${vehicle}">
        <p>marka pojazdu:</p>
        <input type="text" name="brand"/>
        <br>
        <p>model pojazdu:</p>
        <input type="text" name="model"/>
        <br>
        <p>rok produkcji:</p>
        <input type="number" name="productionYear"/>
        <br>
        <p>numer rejestracyjny:</p>
        <input type="text" name="regNumber"/>
        <br>
        <p>przebieg w km:</p>
        <input type="number" name="carMileage"/>
        <br>
        <p>skrzynia biegów:</p>
        <select name="gearboxType">
            <option value="MANUAL">manualna</option>
            <option value="SEMI_AUTOMATIC">pół-automatyczna</option>
            <option value="AUTOMATIC">automatyczna</option>
        </select>
        <br>
        <p>silnik:</p>
        <input type="text" name="engine"/>
        <br>
        <p>moc w KM:</p>
        <input type="number" name="horsepower"/>
        <br>
        <p>typ pojazdu:</p>
        <select name="vehicleType">
            <option value="CAR_COMBI">samochód kombi</option>
            <option value="CAR_CABRIO">samochód kabriolet</option>
            <option value="CAR_HATCHBACK">samochód hatchback</option>
            <option value="CAR_SEDAN">samochód sedan</option>
            <option value="CAR_LIFTBACK">samochód liftback</option>
            <option value="CAR_MINIVAN">samochód minivan</option>
            <option value="MOTORBIKE_SPEEDER">motocykl sportowy</option>
            <option value="MOTORBIKE_CHOPPER">motocykl chopper</option>
            <option value="QUAD">quad</option>
        </select>
        <br>
        <p>typ paliwa:</p>
        <select name="fuelType">
            <option value="GASOLINE">benzyna</option>
            <option value="DIESEL">diesel</option>
            <option value="LPG">LPG</option>
            <option value="ELECTRIC">elektryczny</option>
            <option value="HYBRID">hybryda</option>
            <option value="CNG">CNG</option>
        </select>
        <br>
        <p>numer nadwozia (VIN):</p>
        <input type="text" name="vinNumber"/>
        <br>
        <p>numer polisy:</p>
        <input type="text" name="policyNumber"/>
        <br>
        <p>cena w zł:</p>
        <input type="number" name="price"/>
        <br>
        <p>opis:</p>
        <input type="text" name="description"/>
        <br>
        <input type="submit" value="dodaj"/>
    </form>
</main>
</body>
</html>