<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie pojazdu</title>
</head>
<body>
<h1>Dodaj pojazd.</h1>
<main role="main" layout:fragment="container" class="container">
    <form action="/set" method="post" th:action="@{/vehicle/save}" th:object="${vehicle}">
        <p>marka pojazdu:</p>
        <input type="text" name="brand"/>
        <br>
        <p>model pojazdu:</p>
        <input type="text" name="model"/>
        <br>
        <p>rok produkcji:</p>
        <input type="number" name="productionYear"/>
        <br>
        <p>numer rejestracyjny:</p>
        <input type="text" name="regNumber"/>
        <br>
        <p>przebieg w km:</p>
        <input type="number" name="carMileage"/>
        <br>
        <p>skrzynia biegów:</p>
        <select>
            <option value="automatic">automatyczna</option>
            <option value="semi-automatic">pół-automatyczna</option>
            <option value="manual">manualna</option>
        </select>
        <br>
        <p>silnik:</p>
        <input type="text" name="number"/>
        <br>
        <p>moc w KM:</p>
        <input type="number" name="horsepower"/>
        <br>
        <p>typ pojazdu:</p>
        <select>
            <option value="car_combi">samochód kombi</option>
            <option value="car_cabrio">samochód kabriolet</option>
            <option value="car_hatchback">samochód hatchback</option>
            <option value="car_sedan">samochód sedan</option>
            <option value="car_liftback">samochód liftback</option>
            <option value="car_liftback">samochód minivan</option>
            <option value="motorbike_speeder">motocykl sportowy</option>
            <option value="motorbike_chopper">motocykl chopper</option>
            <option value="quad">quad</option>
        </select>
        <br>
        <p>typ paliwa:</p>
        <select>
            <option value="gasoline">benzyna</option>
            <option value="diesel">diesel</option>
            <option value="lpg">LPG</option>
            <option value="electric">elektryczny</option>
            <option value="hybrid">hybryda</option>
            <option value="cng">CNG</option>
        </select>
        <br>
        <p>numer nadwozia (VIN):</p>
        <input type="text" name="vinNumber"/>
        <br>
        <p>numer polisy:</p>
        <input type="text" name="policyNumber"/>
        <br>
        <p>opis:</p>
        <input type="text" name="description"/>
        <br>
        <input type="submit" value="dodaj"/>
        <br>
    </form>
</main>
</body>
</html>