<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edycja pojazdu</title>
</head>
<body>
<h1>Edycja pojazdu.</h1>
<br>
<main role="main" layout:fragment="container" class="container">
    <form method="post" th:action="@{/vehicle/save}" th:object="${vehicle}">
        <input class="form-control" type="text" th:field="*{id}" disable="disable" readonly/>
        <br/>
        <p>marka pojazdu:</p>
        <input class="form-control" type="text" th:field="*{brand}"/>
        <br>
        <p>model pojazdu:</p>
        <input class="form-control" type="text" th:field="*{model}"/>
        <br>
        <p>rok produkcji:</p>
        <input class="form-control" type="number" th:field="*{productionYear}"/>
        <br>
        <p>numer rejestracyjny:</p>
        <input class="form-control" type="text" th:field="*{regNumber}"/>
        <br>
        <p>przebieg w km:</p>
        <input class="form-control" type="number" th:field="*{carMileage}"/>
        <br>
        <p>skrzynia biegów:</p>
        <select class="form-control" th:field="*{gearboxType}">
            <option value="AUTOMATIC">automatyczna</option>
            <option value="SEMI_AUTOMATIC">pół-automatyczna</option>
            <option value="MANUAL">manualna</option>
        </select>
        <br>
        <p>silnik:</p>
        <input class="form-control" type="text" th:field="*{engine}"/>
        <br>
        <p>moc w KM:</p>
        <input class="form-control" type="number" th:field="*{horsepower}"/>
        <br>
        <p>typ pojazdu:</p>
        <select class="form-control" th:field="*{vehicleType}">
            <option value="CAR_COMBI">samochód kombi</option>
            <option value="CAR_CABRIO">samochód kabriolet</option>
            <option value="CAR_HATCHBACK">samochód hatchback</option>
            <option value="CAR_SEDAN">samochód sedan</option>
            <option value="CAR_LIFTBACK">samochód liftback</option>
            <option value="CAR_MINIVAN">samochód minivan</option>
            <option value="MOTORBIKE_SPEEDER">motocykl sportowy</option>
            <option value="MOTORBIKE_CHOPPER">motocykl chopper</option>
            <option value="QUAD">quad</option>
        </select>
        <br>
        <p>typ paliwa:</p>
        <select class="form-control" th:field="*{fuelType}">
            <option value="GASOLINE">benzyna</option>
            <option value="DIESEL">diesel</option>
            <option value="LPG">LPG</option>
            <option value="ELECTRIC">elektryczny</option>
            <option value="HYBRID">hybryda</option>
            <option value="CNG">CNG</option>
        </select>
        <br>
        <p>numer nadwozia (VIN):</p>
        <input class="form-control" type="text" th:field="*{vinNumber}"/>
        <br>
        <p>numer polisy:</p>
        <input class="form-control" type="text" th:field="*{policyNumber}"/>
        <br>
        <p>cena w zł:</p>
        <input class="form-control" type="number" th:field="*{price}"/>
        <br>
        <p>opis:</p>
        <input class="form-control" type="text" th:field="*{description}"/>
        <br>
        <p>liczba jazd testowych:</p>
        <input class="form-control" type="number" th:field="*{testRidesNumber}"/>
        <br>
        <p>widoczność dla klientów:</p>
        <input type="checkbox" th:field="*{visible}"/>
        <br>
        <input class="form-control" type="submit" value="zatwierdź"/>
    </form>
</main>
</body>
</html>